.tab-header-cls {
    //background: url(../assets/img/splash2.jpg);
    background-color: #2492ff;
    background-position-y: 140px;
    color: white;
    margin: 0 auto;
    background-size: cover;
    min-height: 100px;

    .divImg {
        width: 15%;
        margin: 5px auto;
        img {
            height: 40px !important;            
            margin-top: 15px;
        }
    }
    .titleForm {
        width: 90%;
        margin: 5px auto;
        text-align: center;
    }
}

page-statistics {
    .histogram-wrap{
        background: url(../assets/img/statistics_graph.png);
        background-size: cover;
        width: 115%;
        height: 65%;
        background-position-y: 0px;
        padding: 0;
        margin: -17px 0px 16px -18px;
        color: white;
        font-weight: 300;

        .left-side{
            width: 57%;
            padding: 6% 0 0 6%;
            .title{
                width: 100%;
            }
            .value{
                margin-top: -105px;
                font-size: 40px;
            }
        }
        .right-side{
            padding: 6% 0 0 6%;
            ion-select{
                max-width: 100% !important;
            }
            .select-icon-inner{
                color: white;
            }
            .left-date{
                width: 50%;
                ion-row{
                    width:100%;
                }
                .title{

                }
                .date{
                    margin: -105px 0 0 0;
                    font-size: 12px;
                }
            }
            .right-date{
                width: 50%;
                ion-row{
                    width:100%;
                }.title{

                 }
                .date{
                    margin: -105px 0 0 0;
                    font-size: 12px;
                }

            }
        }
    }
    .main-text{
        font-size: 14px;
        font-weight: 600;
        width: 100%;
    }
    .item-wrapper{
        width: 100%;
        height: 42px;
        border: solid 1px #e1e1e1;
        border-radius: 8px;
        margin: 5px 0;
        .head-icon{
            width: 20%;
        }
        .center{
            width: 75%;
        }
    }
    .text-wrap{
        height: 100%;
        width:76%;
        float: left;
        color: #09c;
    }
    .arrow-button{
        width: 3% !important;
        padding-left: 0 !important;
        height: 100%;
    }
}
