<ion-header class="header-cls">
        
            <ion-toolbar>
                <ion-buttons left>
                    <button icon-only ion-button class="backButton" (click)="goBack()">
                        <img src="assets/icon/flecha-regresar.svg" class="image-left">
                    </button>
                </ion-buttons>
        
                <ion-title class="titleStyle">{{ "AcquireProductPage.titleText" | translate }}</ion-title>
            </ion-toolbar>
        
        </ion-header>
        
        <ion-content padding>
            <ion-row>
                <ion-row class="tabs-swap-wrap" >
                    <ion-row align-items-center justify-content-center [ngClass]="{active:topTab == 'Producto'}" (tap)="changeTab('Producto')" >
                        <span>{{ "AcquireProductPage.productTabText" | translate }}</span>
                    </ion-row>
                    <ion-row  align-items-center justify-content-center [ngClass]="{activeX:topTab == 'Compara'}" (tap)="changeTab('Compara')">
                        <span>{{ "AcquireProductPage.compareTabText" | translate }}</span>
                    </ion-row>
                    <ion-row align-items-center justify-content-center [ngClass]="{activeY:topTab == 'Cliente'}" (tap)="changeTab('Cliente')">
                            <span>{{ "AcquireProductPage.clientTabText" | translate }}</span>
                    </ion-row>  
                    <ion-row  align-items-center justify-content-center [ngClass]="{activeM:topTab == 'Pago'}" (tap)="changeTab('Pago')">
                        <span>{{ "AcquireProductPage.paymentTabText" | translate }}</span>
                    </ion-row>                    
                    <ion-row  align-items-center justify-content-center [ngClass]="{activeZ:topTab == 'Tarjeta'}" (tap)="changeTab('Tarjeta')">
                        <span>Tarjeta</span>
                    </ion-row>                                      
                </ion-row>
                <ion-row  class="steps" id="steps">
                    <span>Paso 1 de 5</span>
                </ion-row>                
                <ion-row class="cliente-tab" [hidden]="topTab != 'Cliente'">
                    <ion-row [hidden] = "productoContinuarShown">
                        <ion-row class="main-text">
                            <span>{{ "AcquireProductPage.searchCustomer" | translate }}</span>
                        </ion-row>
                        <ion-row class="input-container">
                            <ion-row class="input-wrapper">
                                <ion-input [placeholder]='"AcquireProductPage.searchCustomerPlaceholder" | translate'></ion-input>
                                <ion-icon class="search-icon" name="search" item-right></ion-icon>
                            </ion-row>
                        </ion-row>
                        <ion-row class="item-wrapper" (tap)="showAlertEmail('textInput', userEmail,[], isEnglish?'Input your email':'Ingrese correo electrónico')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.email" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="emailModal">
                                    <span>{{userEmail.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>                        
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabled ? '1' : '.5') }" (tap)="showAlertNombre('textInput', userNameModal,[], isEnglish?'Input name':'Ingrese nombre')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.firstName" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="nombre">
                                    <span>{{userNameModal.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabled ? '1' : '.5') }" (tap)="showAlertApellidoP('textInput', userNameModalP,[], isEnglish?'Input name':'Ingrese apellido paterno')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.paterno" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="paterno">
                                    <span>{{userNameModalP.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabled ? '1' : '.5') }" (tap)="showAlertApellidoM('textInput', userNameModalM,[], isEnglish?'Input name':'Ingrese apellido materno')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.materno" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="materno">
                                    <span>{{userNameModalM.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>                                                
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabled ? '1' : '.5') }" >
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.age" | translate }}</span>
                                </ion-row>
                                <ion-item align-items-start class="sub-text" id="firstname">
                                    <ion-datetime pickerFormat="YYYY MMMM DD" displayFormat="YYYY MMMM DD"  [monthNames]="datePickerNames.month" [(ngModel)]="datePickedBirth"></ion-datetime>
                                </ion-item>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabled ? '1' : '.5') }"  (tap)="showAlertGenero('radio', userGender, userGenderList,isEnglish?'Choose gender':'Elija el género')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.gender" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="genero">
                                    <span>{{userGender.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabledTipo3 ? '1' : '.5') }" (tap)="showAlertTelefonoCasa('numInput', userHomePhoneNumber,[], isEnglish?'Input home number':'Ingrese número de teléfono de casa')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Teléfono de casa</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="telefonoCasaModal">
                                    <span>{{userCellPhoneNumber.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>                        
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabledTipo3 ? '1' : '.5') }" (tap)="showAlertTelefonoMovil('numInput', userCellPhoneNumber,[], isEnglish?'Input cell phone number':'Ingrese número de teléfono celular')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.cellPhone" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="telefonoMovilModal">
                                    <span>{{userCellPhoneNumber.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabledTipo3 ? '1' : '.5') }" (tap)="showAlertRFC('textInput', userRFC, userRFCList, isEnglish?'Choose your ID':'Elegir RFC')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.RFC" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="rfc">
                                    <span>{{userRFC.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>
                        <ion-row class="item-wrapper"  [ngStyle]="{ 'opacity': (isEnabledTipo3 ? '1' : '.5') }" (tap)="showAlertNacionalidad('textInput', userNacionalidad, userNacionalidadList, isEnglish?'Choose your nationality':'Elegir tu nacionalidad')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.nationality" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="nacionalidad">
                                    <span>{{userNacionalidad.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabledTipo3 ? '1' : '.5') }" (tap)="showAlertLugarDeNacimiento('textInput', userLugarNac, userLugarNacList, isEnglish?'Choose your place of birth':'Elegir tu lugar de nacimiento')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.placeOfBirth" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="lugarNac">
                                    <span>{{userLugarNac.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>                                                  
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabledTipo3Dir ? '1' : '.5') }" (tap)="showAlertCodigoPostal('numInput', userPostalCode, [], isEnglish?'Input postal code':'Ingrese código postal')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.postalCode" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="codigoPostal">
                                    <span>{{userPostalCode.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabledTipo3Dir ? '1' : '.5') }" (tap)="showAlertColony('radio', userColony, userColonyList, isEnglish?'Choose colony':'Elegir colonia')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.colony" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="colonia">
                                    <span>{{userColony.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity':'.5' }">
                            <ion-row>
                                <ion-row align-items-end class="main-text" >
                                    <span>{{ "AcquireProductPage.state" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="estado">
                                    <span>{{userState.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>                         
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity':'.5' }">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.delegation" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="delegacion">
                                    <span>{{userDelegation.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>                                               
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabledTipo3Dir ? '1' : '.5') }" (tap)="showAlertCalle('textInput', userStreetName, [], isEnglish?'Input street name':'Ingrese el nombre de su calle')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.street" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="calle">
                                    <span>{{userStreetName.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabledTipo3Dir ? '1' : '.5') }" (tap)="showAlertNoExt('textInput', userOutdoorNumber, [], isEnglish?'Input outdoor number':'Ingrese número exterior')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.outdoorNumber" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="noExt">
                                    <span></span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>
                        <ion-row class="item-wrapper" [ngStyle]="{ 'opacity': (isEnabledTipo3Dir ? '1' : '.5') }" (tap)="showAlertNoInt('textInput', userInteriorNumber, [], isEnglish?'Input interior number':'Ingrese número interior')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.interiorNumber" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="noInt">
                                    <span></span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>
                        <!--
                        <ion-row align-items-center justify-content-center class="bot-button" (tap)="changeTab('Producto','Cliente')">
                                
                            <span>{{ "AcquireProductPage.saveAndContinue" | translate }}</span>
                        </ion-row>
                        -->
                        <ion-row class="main-textSeparador">
                            <span>Datos del vehiculo</span>
                        </ion-row> 
                        <ion-row class="item-wrapper" (tap)="showAlertNumeroDeMotor('textInput', userInteriorNumber, [], isEnglish?'Input motor number':'Ingrese el número del motor')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Número de motor</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="noMotor">
                                    <span></span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>     
                        <ion-row class="item-wrapper" (tap)="showAlertNumeroDeSerie('textInput', userInteriorNumber, [], isEnglish?'Input serial number':'Ingrese el número de serie')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Número de serie</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="noSerie">
                                    <span></span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>  
                        <ion-row class="item-wrapper" (tap)="showAlertNumeroDePlacas('textInput', userInteriorNumber, [], isEnglish?'Input plate':'Ingrese el número de placa')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Número de placas</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="noPlacas">
                                    <span></span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>                                                                   
                        <ion-row align-items-center justify-content-center class="bot-button" (tap)="changeTab('Pago')">   
                            <span>{{ "AcquireProductPage.saveAndContinue" | translate }}</span>
                        </ion-row>
                        
                    </ion-row>
        
                </ion-row>
                <!-- SECCION DE TARJETA -->
                <ion-row class="cliente-tab" [hidden]="topTab != 'Tarjeta'">
                    <ion-row [hidden] = "productoContinuarShown">
                        <ion-row class="item-wrapper" (tap)="showAlertTarjeta('numInput', userCreditCard,[], isEnglish?'Input your credit card number':'Ingrese el número de tarjeta')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Número de Tarjeta</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="noTarjeta">
                                    <span></span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>                        
                        <ion-row class="item-wrapper" (tap)="showAlert('textInput', userName,[], isEnglish?'Input the type of card card':'Ingrese el tipo de tarjeta')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Tipo de tarjeta</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="type">
                                    <span></span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>
                        <ion-row class="item-wrapper" (tap)="showAlertTitular('textInput', userGender, userGenderList,isEnglish?'Name of the owner':'Nombre del titular')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Titular</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="titular">
                                    <span></span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>
                        <ion-row class="item-wrapper" (tap)="showAlert('textInput', userCellPhoneNumber,[], isEnglish?'Input the bank':'Ingrese el banco')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Banco</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="bank">
                                    <span></span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                            
                        </ion-row>
                        <ion-row >
                                <ion-row align-items-end class="main-text">
                                        <span>&nbsp;&nbsp;Carrier</span>
                                    </ion-row>
                            <div class = "button-bar">
                                <a class = "tarjetas" ><img src="assets/img/Amex.svg" id="amex" ></a>
                                <a class = "tarjetas" ><img src="assets/img/MasterCard.svg" id="master"></a>
                                <a class = "tarjetas" ><img src="assets/img/Visa.svg" id= "visa" ></a>
                             </div> 
                        </ion-row>
                        <ion-row class="item-wrapper" id="tarjeta">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Vigencia</span>
                                </ion-row>
                                <ion-item align-items-start class="sub-text" id="firstname">
                                    <ion-datetime pickerFormat="MMM YY" displayFormat="MM/YY" min="2017" max="2030" [monthNames]="datePickerNames.month" [(ngModel)]="vigencia"></ion-datetime>
                                </ion-item>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>
                        <ion-row class="item-wrapper" id="tarjeta2" (tap)="showAlertCvv('numInput', userCvv,[], isEnglish?'Input the CVV':'Ingrese el CVV')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>CVV</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="cvv">
                                    <span>000</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>                          
                        <ion-row >
                            <ul class = "list">                                 
                                <li class = "item item-checkbox  checkbox-positive">
                                    <label class = "checkbox">
                                        <input type = "checkbox"/>
                                        Acepto expresamente que se realicen los cobros de mi póliza a la tarjeta bancaria registrada y que los pagos subsecuentes sean domiciliados a la misma.
                                    </label>
                                </li>
                            </ul>
                        </ion-row>                                             
                        <!--
                        <ion-row align-items-center justify-content-center class="bot-button" (tap)="changeTab('Producto','Cliente')">
                                
                            <span>{{ "AcquireProductPage.saveAndContinue" | translate }}</span>
                        </ion-row>
                        -->
                        <ion-row align-items-center justify-content-center class="bot-button" (tap)="goPaymentSubmitedPage()">   
                            <span>{{ "AcquireProductPage.saveAndContinue" | translate }}</span>
                        </ion-row>
                        
                    </ion-row>
        
                </ion-row>
             
                
                <!-- SECCION DE PRODUCTO -->
                <ion-row class="cliente-tab" [hidden]="topTab != 'Producto'">
                    <ion-row [hidden] = "productoContinuarShown">
                        <ion-row class="item-wrapper" (tap)="showAlert('textInput', userSerialNumber, [], isEnglish?'Input ZIP code':'Código Postal')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Código Postal</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="CP">      
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>                         
                        </ion-row> 
                        <ion-row class="item-wrapper" (tap)="showAlertEdad('radio', userEdad, userEdadList, isEnglish?'Choose your age':'Elija su edad')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Edad</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="Edad">      
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>                        
                        
                        <ion-row class="item-wrapper" (tap)="showAlertMarca('radio', userBrand, userBrandList, isEnglish?'Choose brand':'Elija la marca')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.brand" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="Marca">
                                    <span>{{userBrand.name}}</span>

                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>
                        <ion-row class="item-wrapper" (tap)="showAlertModelo('radio', userModel, userModelList, isEnglish?'Choose model ':'Elija el modelo')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.model" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="Modelo">
                                    <span>{{userModel.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>
                        <ion-row class="item-wrapper" (tap)="showAlertDescripcion('radio', userDescription, userDescriptionList, isEnglish?'Choose description':'Elija la descripción')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.description" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="Descripcion">
                                    <span>{{userDescription.name}}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>
                        <ion-row class="item-wrapper" (tap)="showAlertSubDescripcion('radio', userSubDescription, userSubDescriptionList, isEnglish?'Choose description':'Elija la sub descripción')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>Descripción</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text" id="SubDescripcion">
                                    
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>
                        
                        <ion-row class="item-wrapper" (tap)="showAlertDetalle('radio', userDescription, userDetalleList, isEnglish?'Choose description':'Elige el detalle')">
                                <ion-row>
                                    <ion-row align-items-end class="main-text">
                                        <span>Sub Descripción</span>
                                    </ion-row>
                                    <ion-row align-items-start class="sub-text" id="Detalle">
                                        
                                    </ion-row>
                                </ion-row>
                                <ion-row align-items-center class="arrow-button">
                                    <img src="assets/icon/bt-siguiente.png">
                                </ion-row>
                        </ion-row> 

                                                                                            
                        <!--<ion-row class="item-wrapper"(tap)="showAlert('textInput', userSerialNumber, [], isEnglish?'Input serial number':'Número de serie de entrada')">-->                   
                        <!--
                        <ion-row class="item-wrapper" (tap)="showAlert('textInput', userPlates, [], isEnglish?'Input plates':'Placas de entrada')">
                            <ion-row>
                                <ion-row align-items-end class="main-text">
                                    <span>{{ "AcquireProductPage.plates" | translate }}</span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text">
                                    <span>{{userPlates.name}}</span>
                                </ion-row>
                            </ion-row>
                        </ion-row>
                        
                        <div [ngStyle]="{'color': color, 'font-size': size + 'px'}">
                            style using ngStyle
                          </div>
                          <input [(ngModel)]="color" />
                          <button (click)="size = size + 1">+</button>
                          <button (click)="size = size - 1">-</button>-->
                        <ion-row align-items-center justify-content-center class="bot-button" (tap)="changeTab('Compara')" >
                            <span>{{ "AcquireProductPage.following" | translate }}</span>
                        </ion-row>
                    </ion-row>
                </ion-row>
                <!--SECCION DE COMPARAR-->
                <ion-row class="compara-tab" [hidden]="topTab != 'Compara'">
                    <ion-row class="main-text">
                        <span>Descripción del auto</span>
                    </ion-row>  
                    <ion-row *ngIf="!comparaDetailShown">
                        <ion-row align-items-center justify-content-center class="title">
                            <ion-row align-items-center justify-content-center class="title-wrap">                              
                                <ion-row align-items-center justify-content-center class="main-text">
                                    <span id="nombreAuto"></span>
                                </ion-row>
                                <ion-row align-items-center justify-content-center class="main-text">
                                    <span id="descrAuto"></span>
                                </ion-row>
                                <ion-row align-items-center justify-content-center class="main-text">
                                    <span id="subDescrAuto"></span>
                                </ion-row>
                            </ion-row>
                        </ion-row>
                        <ion-row align-items-center justify-content-center >
                            <ion-col class="top-tittlex">
                                <span><strong>Aseguradora</strong></span>
                            </ion-col>
                            <ion-col class="top-tittlex">
                                <span><strong>Prima Total</strong></span>
                            </ion-col>
                            
                        </ion-row>
                        <ion-list class="list-wrap">
                            <!--<ion-item *ngFor="let listItem of comparaList" (tap)="isClient == 'false'? changeTab('Pago') : showComparaItemDetail()">-->
                            <ion-grid>        
                            <ion-item *ngFor="let listItem of comparaList" (tap)="showAlertPrima('radio', listItem, userEdad, comparaList, isEnglish?'Information':'Información adicional')">                                
                                <ion-row align-items-center justify-content-center  class="img-wrap">
                                    <img [src]="listItem.img">
                                </ion-row>
                                <ion-row align-items-center class="text-wrap">
                                    <span class="value" id="valor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{listItem.value}}</span>
                                </ion-row>
                                <ion-row align-items-center class="arrow-button">
                                    <img src="assets/icon/bt-siguiente.png">
                                </ion-row>
                            </ion-item>
                            </ion-grid>
                        </ion-list>
                        <!--
                        <ion-row align-items-center justify-content-center class="bot-button" (tap)="changeTab('Pago')">
                            <span>{{ "AcquireProductPage.sendDetailedQuoteToUserText" | translate }}</span>
                        </ion-row>
                        -->
                    </ion-row>
                
                    <ion-row *ngIf="comparaDetailShown">
                        <ion-row class="item-wrapper" style="margin-top:10px" (tap)="goToDocumentDetailPage()">
                            <ion-row>
                                <ion-row align-items-center class="sub-text">
                                    <span>{{ "AcquireProductPage.uploadDocumentText" | translate }}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row align-items-center class="arrow-button">
                                <img src="assets/icon/bt-siguiente.png">
                            </ion-row>
                        </ion-row>
                        <!--
                        <ion-row align-items-center justify-content-center class="bot-button" (tap)="goToPayPolicyPage()">
                            <span>{{ "AcquireProductPage.sendDetailedQuoteToUserText" | translate }}</span>
                        </ion-row>
                        -->
                    </ion-row>
                <!--SECCION DE PAGO-->
                </ion-row>
                <ion-row class="pago-tab" [hidden]="topTab != 'Pago'">
                <ion-row class="main-textX">
                    <span>Resumen de compra</span>
                </ion-row>      
                    <ion-row class="citation-wrap">
                        <ion-row class="padding-row">
                            <ion-row class="top-text-wrap">
                                <ion-row align-items-end class="main-text">
                                    <span id="marcaF"></span>
                                </ion-row>
                                <ion-row align-items-start class="sub-text">
                                    <span>{{ "AcquireProductPage.carInsuranceText" | translate }}</span>
                                </ion-row>
                            </ion-row>
                            <ion-row class="company-wrap">
                                <ion-row align-items-center justify-content-center class="img-wrap">
                                    <img src="assets/icon/logo/logo-axa.png" id="imgF">
                                </ion-row>
                                <ion-row  class="center-text-wrap">
                                    <ion-row align-items-end justify-content-center class="main-text">
                                        <span>{{ "AcquireProductPage.wideText" | translate }}</span>
                                    </ion-row>
                                    <ion-row align-items-start justify-content-center class="sub-text">
                                        <span>{{ "AcquireProductPage.coverText" | translate }}</span>
                                    </ion-row>
                                </ion-row>
                                <ion-row class="end-text-wrap">
                                    <ion-row align-items-end justify-content-center class="main-text">
                                        <span id="primaF"></span>
                                    </ion-row>
                                    <ion-row align-items-start justify-content-center class="sub-text">
                                        <span>{{ "AcquireProductPage.annualText" | translate }}</span>
                                    </ion-row>
                                </ion-row>
                            </ion-row>
                            <ion-row>
                                <ion-row class="main-text-title">
                                    <span>{{ "AcquireProductPage.coveringsText" | translate }}</span>
                                </ion-row>
                                <ion-row class="main-info-text-wrap">
                                    <ion-row class="main-text" *ngFor="let listItem of pagoList">
                                        <span>{{listItem.mainText}}</span>
                                        <span class="sub-text">{{listItem.subText}}</span>
                                    </ion-row>
                                </ion-row>                                                             
                            </ion-row>
                            <ion-row>
                                <ion-row class="main-text-title">
                                    <span>Datos del vehículo</span>
                                </ion-row>
                                <ion-row class="main-info-text-wrap">
                                    <ion-row class="main-text" >
                                        <span>Marca: </span>
                                        <span class="sub-text" id="marcaU"></span>
                                    </ion-row>
                                    <ion-row class="main-text" >
                                        <span>Submarca: </span>
                                        <span class="sub-text" id="submarcaU">1</span>
                                    </ion-row>   
                                    <ion-row class="main-text" >
                                        <span>Modelo: </span>
                                        <span class="sub-text" id="modeloU">2</span>
                                    </ion-row> 
                                    <ion-row class="main-text" >
                                        <span>Descripción: </span>
                                        <span class="sub-text" id="descripcionU">3</span>
                                    </ion-row>                                                                                                            
                                </ion-row>                                                             
                            </ion-row>                             
                            <ion-row>
                                <ion-row class="main-text-title">
                                    <span>Datos del contratante</span>
                                </ion-row>
                                <ion-row class="main-info-text-wrap">
                                    <ion-row class="main-text" >
                                        <span>Nombre: </span>
                                        <span class="sub-text" id="nombreU"></span>
                                    </ion-row>
                                    <ion-row class="main-text" >
                                        <span>Apellido paterno: </span>
                                        <span class="sub-text" id="paternoU"></span>
                                    </ion-row>  
                                    <ion-row class="main-text" >
                                        <span>Apellido materno: </span>
                                        <span class="sub-text" id="maternoU"></span>
                                    </ion-row>                                                                      
                                    <ion-row class="main-text" >
                                        <span>Email: </span>
                                        <span class="sub-text" id="emailU">1</span>
                                    </ion-row>   
                                    <ion-row class="main-text" >
                                        <span>Domicilio: </span>
                                        <span class="sub-text" id="domicilioU">2</span>
                                    </ion-row> 
                                    <ion-row class="main-text" >
                                        <span>Teléfono casa: </span>
                                        <span class="sub-text" id="telefonoCasaU">3</span>
                                    </ion-row>
                                    <ion-row class="main-text" >
                                        <span>Teléfono móvil: </span>
                                        <span class="sub-text" id="telefonoMovilU">3</span>
                                    </ion-row>                                    
                                    <ion-row class="main-text" >
                                        <span>Género: </span>
                                        <span class="sub-text" id="generoU">3</span>
                                    </ion-row>  
                                    <ion-row class="main-text" >
                                        <span>RFC: </span>
                                        <span class="sub-text" id="rfcU">3</span>
                                    </ion-row>                                                                                                                                                                                      
                                </ion-row>                                                            
                            </ion-row>                                                                                         
                        </ion-row>
                    </ion-row>
                    <ion-row align-items-center justify-content-center class="bot-button" (tap)="changeTab('Tarjeta')">
                        <span>{{ "AcquireProductPage.submitCollectionRequestText" | translate }}</span>
                    </ion-row>
                </ion-row>
                
                
            </ion-row>
        </ion-content>
        