page-recovery {
    //para el boton de back
    .regresar{
        background-color: transparent !important;
        margin-top:7%;
        margin-left:2%;
        position: absolute;
        width:30px;
        height: 30px;
    }
    ion-input, ion-textarea{
        background-color: transparent;
        border: none;
        font-size:22px;
        color: white;
        border-bottom-style: solid;
        border-width: 1px;
    }
    .back-btn {

        margin: 0 auto 10px auto;
        padding: 0;
        border-radius: 70%;
        background: rgb(0,153,204);
        width: 55px;
        height: 55px;
        margin-left:80%;
        top:310px;
    }
    .back-btnx {       
        margin: 0 auto 10px auto;
        padding: 0;
        border-radius: 70%;
        background: rgb(0,153,204);
        width: 55px;
        height: 55px;
        margin-left:80%;
        top:249px;
    }
    
    input.text-input.text-input-ios {
        color:white;
    }
    input.text-input.text-input-md {
        color:white;
    }
    //cambiar el cuadro de texto ingresa tu correo ... para ios
    div.toolbar-title.toolbar-title-ios{
        color: white !important;
        font-family: RaleTitle;
    }
    //cambiar el cuadro de texto ingresa tu correo ... para android
    div.toolbar-title.toolbar-title-md{
        color: white !important;
        font-family: RaleTitle;
    }
    overflow-y: auto;

    .scroll-content{
        background:url(../assets/img/Fondo-jpg.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        top: .5%;
    }

    ion-header.header-custom-cls {
        //background: url(../assets/img/splash2.jpg);
		background-color: #2492ff;
        background-position-y: 140px;
        color: white;
        margin: 0 auto;
        background-size: cover;
        height: 70px;

        .divImg {
            width: 15%;
            margin: 5px auto;
            img {
                height: 100% !important;
                margin-top: -15px;
                margin-left: -15px;

               // width:100%;
            }
        }
        .titleForm {
            width: 90%;
            margin: 5px auto;
            text-align: center;
            color: white;
        }
        .item-inner {
            border-bottom: none !important;
        }
    }
    
    ion-content{
        background: rgba(245,245,245,255) !important;
        ion-item {
            border: 2px solid rgb(175,175,175) !important;
            border-radius: 10px !important;
            margin: 10px auto !important;
        }    
        .slide-zoom {
            height: 100% !important;
        }
        .toolbar-title {
            text-align: justify;
            white-space: initial;
            padding: 5px 12px;
            font-size: 1.8rem;
            font-weight: 500;
            color: #424242;
        }
        
        .divRow {
            width: 100%;
            margin: 10px auto;
            text-align: center;
            border: none;
            border-radius: 15px;
            background: transparent;
            margin-bottom: 12px;

            .email-field { 
                background: white !important;
                border: 2px solid white;
                border-radius: 14px;

                input{
                    width: 60%;
                }
            }
            .email-field::before {
                content: url("../assets/icon/correo-fomularios.png");
                width: 30px;
                height: 30px;
                position: absolute;
                left: 3%;
                top: 40%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                text-align: center;
                line-height: 40px;
                align-items: center;
            }
        }

        .recovery-btn {
            width: 100%;
        }

        .title-recovery {
            font-family: RaleText;

        }

        .confirm-recovery-text {
            margin: 50px 11px 83px;
            text-align: left;
            font-weight: 400;
            color: white;
            font-family: RaleTitle;
            

        }
        .confirm-recovery-btn {
            width: 99%;
            border-radius: 25px;
            height: 40px;
            max-height: 40px;
            vertical-align: middle;
            padding: 1px 0;
        }
        .button-back-wrapp {
            height: 175px;
            .button-back {
                color: white;
                background-color: #488aff;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                font-size: 20px;
            }
        }

    }

    .prossedBtn{
        border-radius: 50px;
    }
    
    .divImg {
        width: 15%;
        margin: 5px auto;
    }

}