page-new-advertisement {
    ion-header {
        .header-cls {
            min-height: 0 !important;
        }
        .backButton{
            padding-left: 18px !important;
        }
        .titleStyle {
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            pointer-events: none;
            text-align: center;
        }
    }
    button {
        background: transparent !important;
        img {
            height: auto !important;
            max-height: 25px !important;
            margin-top: 0 !important;
            .image-left{
                padding-left: 10px !important;
            }
            .image-right{
                padding-right: 10px !important;
            }
        }
    }

    .scroll-content{
        background-color: #eeeeee;
    }

    .tab-header-cls {
        //background: url('../assets/img/splash2.jpg');
		background-color: #2492ff;
        background-position-y: bottom; 
        color: white;
        margin: 0 auto;
        min-height: 0;

        .titleForm {
            width: 90%;
            margin: 5px auto;
            text-align: center;
        }    
    }
     
    ion-list-header.list-header-cls {
        font-family: RaleTitle;
        font-size: 16px;
        margin-top: 15px;
        border-top: 0px !important;
        padding: 0;
    }

    .ionitem-cls {
        border: 2px solid rgb(220,220,220) !important;
        border-radius: 10px !important;
        margin: 15px auto;
        .thumbnail-cls {
            min-height: initial;
            min-width: initial;
            img {
                height: 40px;
                width: auto;
            }
        }
    }
    .title-wrapper{
        width: 100%;
        padding: 10px 0;
        .main-text{
            font-size: 18px;
            font-weight: 500;
            width: 100%;
        }
    }
    .detail-btn-cls {
        background: transparent;
    }
    .scroll-content {
        overflow-y: auto;
    }
}
