page-introduction {
    background-color: rgba(245,245,245,255) !important;
    .scape-intro-btn {
        width: 90%;
        border: none;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-transform: none;
        position: relative;
    }
    .first-section {
        position: absolute;
        height: 50%;
        width: 100%;
        background: url("../assets/img/11.png");
        background-position-y: -68px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .first-sectionb {
        min-height: 350px;
        width: 100%;
        background: url("../assets/img/22.png");
        background-position-y: -68px;
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 
    }
    .first-sectionc {
        min-height: 350px;
        width: 100%;
        background: url("../assets/img/33.png");
        background-position-y: -68px;
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 
    }

    .second-section {
        position:absolute;
        text-align: center;
        top:50%;
        height: 30%;
        background-position-y: 1px;
        overflow-y: auto;
        font-family: RaleText;
    }
    .third-section {
        position:relative;
        top:82%;
        color:black;
    }

    .title-text {        
        margin: 15px auto;
        text-align: center;
        width: 100%;
        font-family: RaleTitle;
        color: gray;
    }

    .body-text {        
        text-align: center;
        color: gray;
        font-family: RaleCondition;
        max-height: 40%;
    }

    ion-col {
        height:100%;
    }

    .slide-zoom {
        height: 100%;
    }

}
