page-registrer {
    //para los campos de correo y confirma
    .label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary{
        color:white !important;
        font-size: 20px;
        font-family: RaleNext;
        
    }
    .label-ios-primary, .item-input .label-ios-primary, .item-select .label-ios-primary, .item-datetime .label-ios-primary{
        color:white !important;
        font-size:20px;
        font-family: RaleNext;
    }
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
        color:white;
        font-family: RaleTitle;
        font-size: 25px;
    }
    ion-label {
        color: white;  
     
    }
    ion-label-ios {
        color: white;
        margin-left: 30px;
    }
    //pára el titulo de cual es tu correo electronico
    .label-ios{
        font-size: 25px;
        font-family: RaleTitle;
        white-space: normal;
    }
    .label-md{
        font-size: 25px;
        font-family: RaleTitle;
        white-space: normal;
    }
    //para los campos de correo y confirma
    .item-md{
        background-color: transparent !important;
        color: white;
        margin-left:-10px;
    }
    .item-ios{
        background-color: transparent !important;
        color: white;
        margin-left:-10px;

    }
    .scroll-content{
        background:url(../assets/img/Fondo-jpg.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        top: .5%;
    }

    .divImg {
        width: 15%;
        margin: 5px auto;
    }

    ion-header {
        //background: url(../assets/img/splash2.jpg);
        background-color: #2492ff;
        background-position-y: 140px;
        color: white;
        margin: 0 auto;
        background-size: cover;
        height:70px;

        .divImg {
            width: 25%;
            margin: 5px auto;
            img {
                height: 100% !important;
                margin-top: -15px;
                width:100%;
            }
        }
        .titleForm {
            width: 90%;
            margin: 5px auto;
            text-align: center;
            color: white;
        }
        .item-inner {
            border-bottom: none !important;
        }
    }    
    .scroll-content {
        overflow-y: auto;
    }
    .divRow {
        width: 100%;
        margin: 10px auto;
        text-align: center;
        ion-input {
            background: white !important;
        }
    }

    ion-label {
        text-align: left;
    }
    .input-cls {
        margin: 10px auto;
        border: 1px solid #acacac;
        border-radius: 10px;
        padding-left: 10px;
        width:100%;
        background-color: white;
        .text-wrapp{
            height: 50px;
            width: 80%
        }
        .radio-button-wrapp{
            width: 20%;
            .radioButton{
                border: gray;
                background-color: #eeeeee;
                border-radius: 50%;
                border: solid 1px #acacac;
                width: 20px;
                height: 20px;
            }
            .active {
                background-color: #00bbd3;
                border-color: #00bbd3;
            }
        }

    }

    .titleForm{
        width: auto;
        font-family: RaleSubtitle;
        font-size: 1.4em;
        text-align: center;
    }

    .content-cntainer {
        background: rgb(240,240,240);
    }
    .back-btn {
        margin: 0 auto 10px auto;
        padding: 0;
        border-radius: 70%;
        background: rgb(0,153,204);
        width: 55px;
        height: 55px;
        margin-left:80%;
    }
    .continue-btn {
        width: 100%;
        margin: 0 auto;
        height: 40px;
        border-radius: 10px;
        background: rgb(0,153,204);
        span{
            padding: 22px 0;
        }
    }

    .footerSection {
        width: 100%;
        margin-top: 80%;
        bottom: 0 !important;
        position: absolute !important;
    }
    .slide-content-layout {
        height: 100%;
    }
    .slide-zoom {
        height: 100% !important;
    }
    .congrats-wrapp{
        .title-text{
            margin: 5% 0;
            font-size: 20px;
        }
        .main-text{
            margin: 10% 9% 18%;
            font-size: 16px;
            text-align: justify;
        }
        .prossedBtn{
            border-radius: 50px;
        }
    }

    #gender .slide-zoom {
        height: 100% !important;

    }
}
    