
page-advertisement {

    .scroll-content{
        background-color: #eeeeee;
    }

    .tab-header-cls {
        //background: url(../assets/img/splash2.jpg);
        background-color: #2492ff;
        background-position-y: 140px;
        color: white;
        margin: 0 auto;
        background-size: cover;
        min-height: 100px;

        .divImg {
            width: 15%;
            margin: 5px auto;
            img {
                height: 40px !important;            
                margin-top: 15px;
            }
        }

        .titleForm {
            width: 90%;
            margin: 5px auto;
            text-align: center;
        }    
    }
     
    ion-list-header.list-header-cls {
        font-family: RaleTitle;
        font-size: 16px;
        margin-top: -6px;
        margin-bottom: 5px;
        border-top: 0px !important;
        background-color: transparent;
        padding: 0;
    }

    .ionitem-cls {
        border: 2px solid rgb(220,220,220) !important;
        border-radius: 10px !important;
        margin: -10px auto 15px;
        .thumbnail-cls {
            min-height: initial;
            min-width: initial;
            img {
                height: 40px;
                width: auto;
            }
        }
    }
    .detail-btn-cls {
        background: transparent;
    }
    .scroll-content {
        overflow-y: auto;
    }
    .publish-adv-btn{
        border: 1px solid transparent;
        border-radius: 10px;
        background: rgb(34,146,192);
    }
}
