statistic-week {  
  .ios, .md {   
    .scroll-content {
        background-color: map-get($colors, light);
    }
    ion-card-header {
        font-weight: bold;
    }
  }

  #weekCombo{
    padding:8px;
    #weekComboTitle{
      text-align:center;
      font-weight:bold;
      font-size:20px;
    }
  }

  #canvasContainer{
    height:246.5px;
    width:100%;
    background:#0099CC;
    margin-top:10px;

    #notes{
      position:absolute;
      width:100%;
      padding:8px;
      font-size:12px;
      color:white;
      #amount{
        font-size:24px;
      }
    }
  }  
  
  .stat-row{
    border: solid 1px black;    
    margin-bottom:16px;
    background:white;
    .title{
        font-weight: 600;
        text-align: center;
    }
    .value{
        font-weight: 700;
        font-size: 50px;
        text-align: center;
    }
    .icon-container{
        text-align: right;
        img{
            width: 16px;
            height: 16px;
        }
    }
}
  .histogram-wrap{
      background: url(../assets/img/statistics_graph.png);
      background-size: cover;
      width: 115%;
      height: 65%;
      background-position-y: 0px;
      padding: 0;
      margin: 0px 0px 16px -18px;
      color: white;
      font-weight: 300;

      .left-side{
          width: 57%;
          padding: 6% 0 0 6%;
          .title{
              width: 100%;
          }
          .value{
              margin-top: -105px;
              font-size: 40px;
          }
      }
      .right-side{
          padding: 6% 0 0 6%;
          ion-select{
              max-width: 100% !important;
          }
          .select-icon-inner{
              color: white;
          }
          .left-date{
              width: 50%;
              ion-row{
                  width:100%;
              }
              .title{

              }
              .date{
                  margin: -105px 0 0 0;
                  font-size: 12px;
              }
          }
          .right-date{
              width: 50%;
              ion-row{
                  width:100%;
              }.title{

              }
              .date{
                  margin: -105px 0 0 0;
                  font-size: 12px;
              }

          }
      }
    }
    .scroll-content{
      background-color: #eeeeee;
    }
    ion-header {
      .header-cls {
        min-height: 0 !important;
      }
      .backButton{
        padding-left: 18px !important;
      }
      .titleStyle {
        left: 0;
        top: 0;
        padding: 0 90px 1px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        pointer-events: none;
        text-align: center;
      }
      button {
        background: transparent !important;
        img {
          height: auto !important;
          max-height: 25px !important;
          margin-top: 0 !important;
  
          .image-left {
            padding-left: 10px !important;
          }
          .image-right {
            padding-right: 10px !important;
          }
        }
      }
      div {
        margin: 0 !important;
      }
    }
    .arrow-button{
      width: 3% !important;
      padding-left: 0 !important;
    }
    .main-text{
      font-size: 18px;
      font-weight: 600;
      width: 100%;
    }
    .sub-text{
      font-size: 12px;
    }
    .pago-tab{
      .citation-wrap{
        background-color: white;
        margin: 10px 0;
        border: solid 1px;
        border-radius: 12px;
        .padding-row{
          padding: 10px;
          .top-text-wrap{
            width:100%;
          }
          .company-wrap{
            width: 100%;
            margin: 10px 0;
            .main-text{
              margin-top: 2px;
            }
            .sub-text{
              margin-top: 0;
              width:100%;
            }
            .img-wrap{
              width: 33%;
              float: left;
            }
            .center-text-wrap{
              width: 33%;
              float: left;
              border-left: solid 3px #09c ;
              border-right: solid 3px #09c ;
            }
            .end-text-wrap{
              width:33%;
            }
          }
          .button-details{
            width: 95%;
          }
          .continuar-text{
            width: 100%;
            color: #0099cc;
            margin: 5px 0 -7px 0;
            .main-text{
              color: #303030;
              font-size: 14px;
              font-weight: 400;
            }
            .sub-text{
              font-size: 14px;
            }
            .paper-plane-icon{
              font-size: 22px;
              padding-right: 4px;
            }
          }
  
          .main-text-title {
            margin: 5px 0 10px 0;
          }
        }
      }
    }
  }
  