
page-notification {
    .tab-header-cls {
        background-color:#2492ff;
        background-position-y: 140px;
        color: white;
        margin: 0 auto;
        background-size: cover;
        min-height: 100px;

        div.divImg {
            width: 15%;
            margin: 5px auto;
            img {
                height: 40px !important;
                margin-top: 15px;
            }
        }
    }
    .scroll-content {
        background-color: #eeeeee;
    }
    .arrow-button {
        width: 3% !important;
        padding-left: 0 !important;
    }
    .main-text {
        font-size: 16px;
        font-weight: 500;
        width: 94%;
        padding-left: 15px;
    }

    .item-wrapper {
        width: 100%;
        height: 60px;
        background-color: white;
        border: solid 1px #e1e1e1;
        border-radius: 8px;
        margin: 5px 0;
        background: white;
    }
    .titleForm {
        width: 90%;
        margin: 5px auto;
        text-align: center;
    }
}
